.banner {
  padding: 20px 0;
  width: 100%;

  &--left {
    width: 830px;

    .offer-b {
      max-width: 370px;
      height: 36px;
      border-radius: 200px;
      margin-bottom: 29px;

      p,
      span {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 1.5px;
        padding: 0;
      }

      span {
        padding: 5px 10px 5px 10px;
        border-radius: 200px;
      }
    }

    h1 {
      font-family: $main-font;
      font-weight: 600;
      font-size: 12rem;
      line-height: 170px;
    }

    p {
      font-family: $main-font;
      font-weight: 400;
      font-size: 1rem;
      line-height: 29px;
      letter-spacing: 0.5px;
      padding: 45px 0 50px 0;
    }

    &-btn {
      .banner-btn {
        color: $main-text-color;
        width: 200px;
        height: 70px;
        border-radius: 10px;
        font-size: 1.13rem;
        line-height: 22px;
        letter-spacing: 1px;

        &-1 {
          &:hover {
            background-color: white;
            color: #25ab75;
          }
        }

        &-2 {
          &:hover {
            background-color: white;
            color: #1b1a1b;
          }
        }
      }
    }
  }
  &--right {
    position: relative;

    .numbers {
      position: absolute;
      top: 20%;
      right: 0;

      .time {
        width: 166px;
        height: 98px;
        border-radius: 20px;

        h3 {
          color: #ffe642;
          font-weight: 600;
          font-size: 2.5rem;
          line-height: 40px;
          letter-spacing: 1px;
        }

        p {
          color: $main-text-color;
          font-weight: 400;
          font-size: 1rem;
          line-height: 20px;
        }
      }

      .calories {
        width: 166px;
        height: 98px;
        border-radius: 20px;

        h3 {
          color: #fb1351;
          font-weight: 600;
          font-size: 2.5rem;
          line-height: 40px;
          letter-spacing: 1px;
        }

        span {
          color: $main-text-color;
          font-weight: 400;
          font-size: 0.81rem;
          line-height: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .banner {
    padding: 50px 0;
    &--left {
      h1 {
        font-size: 11rem;
        line-height: 150px;
      }
    }

    &--right {
      display: none;
    }
  }
}

@media only screen and (max-width: 425px) {
  .banner {
    &--left {
      h1 {
        font-size: 4rem;
        line-height: 60px;
        padding: 0 10px;
      }

      p {
        padding: 15px;
      }

      &-btn {
        margin-top: 20px;
        .banner-btn {
          width: 125px;
          height: 55px;
          font-size: 15px;
          line-height: 22px;
          letter-spacing: 1px;
        }
      }

      .offer-b {
        p {
          font-size: 10px;
          letter-spacing: 0.5px;
        }
      }
    }

    &--right {
      display: none;
    }
  }
}

@media only screen and (max-width: 375px) {
  .banner {
    &--left {
      h1 {
        font-size: 4rem;
        line-height: 60px;
        padding: 0 10px;
      }

      p {
        padding: 15px;
      }

      &-btn {
        margin-top: 20px;
        .banner-btn {
          width: 125px;
          height: 55px;
          font-size: 15px;
          line-height: 22px;
          letter-spacing: 1px;
        }
      }

      .offer-b {
        p {
          font-size: 10px;
          letter-spacing: 0.5px;
        }
      }
    }

    &--right {
      display: none;
    }
  }
}
