.exercises {
  padding: 50px 0;
  background-color: $main-bg-color;

  &--title {
    h2 {
      font-size: 2.19rem;
      font-weight: 600;
      line-height: 45px;
      letter-spacing: 0.3px;
    }

    p {
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 1.5px;
    }
  }

  &--grid {
    padding: 50px 0;

    .grid {
      h3 {
        color: $main-text-color;
        font-weight: 600;
        font-size: 3.13rem;
        line-height: 45px;
        letter-spacing: 0.3px;
        margin: -30px 0 10px 20px;
      }

      p {
        font-weight: 400;
        font-size: 0.81rem;
        line-height: 14px;
        letter-spacing: 0.5px;
        padding-top: 0.5rem;
      }

      .image {
        transition: transform 0.2s ease-in;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
