.offers {
  background: linear-gradient(
    to right,
    $main-bg-color 0%,
    $main-bg-color 30%,
    #191919 30%,
    #191919 100%
  );
  padding: 150px 0;

  &--title {
    font-weight: 600;
    font-size: 7.5rem;
    line-height: 120px;
    letter-spacing: -2px;
    padding: 0 50px;
  }

  &--content {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 50px;
    letter-spacing: 0.5px;
    padding: 0 150px;

    .offers-btn {
      color: $main-text-color;
      width: 200px;
      height: 70px;
      border-radius: 10px;
      font-size: 1.13rem;
      line-height: 22px;
      letter-spacing: 1px;
    }
  }
}
