.showcase {
  padding: 100px 0;
  &--left {
    display: grid;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
      "label0 ."
      ". label1";

    gap: 0px;
    height: 100%;
  }

  #item-0 {
    grid-area: label0;
  }
  #item-1 {
    grid-area: label1;
  }

  &--right {
    .boy-stretch {
      margin-top: -200px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .showcase {
    padding: 50px 0;

    .responsive {
      max-width: 100%;
    }
    &--right {
      .boy-stretch {
        margin: 0;
      }
    }
  }
}

// @media only screen and (max-width: 768px) {
//   .showcase {
//     padding: 50px 0;
//     &--right {
//       .boy-stretch {
//         margin: 0;
//       }
//     }
//   }
// }
