@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

//font
$main-font: "Poppins", sans-serif;

//color
$main-text-color: #fff;
$main-bg-color: #000;
$button1: #25ab75;

//Responsive
$fs-lg: 12.5rem;
$burger-menu-radius: 4em;
$line-height: 170px;
